<div class="section rounded-bottom py-3 px-4">
  <h2>Contact Form</h2>
  <div class="custom-line bg-warning rounded-2 mt-2"></div>
  <form>
    <div class="row my-5">
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <input type="text" class="form-control custom-input" placeholder="Full name">
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <input type="email" class="form-control custom-input" placeholder="Email address">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="url" class="form-control custom-input" placeholder="LinkedIn URL">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="tel" class="form-control custom-input" placeholder="Phone NO." >
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <textarea class="form-control custom-input" rows="5" placeholder="Your Message"></textarea>
    </div>
    <button type="submit" class="btn btn-custom text-warning mt-3"> Send Message </button>
  </form>
</div>
