<nav class="navbar-expand-md rounded-top-4 nav py-3 px-2">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item tab-pane">
        <a class="nav-link text-warning" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" routerLink="/resume" routerLinkActive="active">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-warning" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
  </ul>
  </div>
</nav>